{% extends "base.html" %}

{% block title %}VIEW BLOG for {{username}}{% endblock %}


{% block sidebar_previous_posts %}
	Still hoping to put a index of dates here
{% endblock %}


{% block content %}
<div class="box">

	<p class="post-by">Posted by <a href="/{{username}}/">{{ username }}</a>
	</p>

	{% if blog_id %}
	<form action="/{{username}}/{{blog_id}}/edit/" method="post">
		{{ form.as_p }}
		<input type="image" style='background:none;border:none;' src='/static/images/Edit.png' value="Submit" alt="Submit">
		<a href="/{{username}}/{{blog_id}}/"><img style='background:none;border:none;' src='/static/images/Cancel.png'/></a>
	</form>		
	{% else %}
	<form action="/{{username}}/new/" method="post">
		{{ form.as_p }}	
		<input type="image" style='background:none;border:none;' src='/static/images/Edit.png' value="Submit" alt="Submit">
		<a href="/{{username}}/all/"><img style='background:none;border:none;' src='/static/images/Cancel.png'/></a>
	</form>		
	{% endif %}

	
	<p class="post-footer align-right">					

		<a href="index.html" class="comments">Comments (7)</a>
	</p>

</div>

{% endblock %}


