{% extends "base.html" %}

{% block title %}VIEW BLOG for {{username}}{% endblock %}


{% block sidebar_previous_posts %}
	Still hoping to put a index of dates here
{% endblock %}


{% block content %}
<div class="box">

	<p class="post-by">Posted by <a href="/{{username}}/">{{ username }}</a>
	</p>

	{% if blog_id %}
	<form action="/{{username}}/{{blog_id}}/edit/" method="post">
	{% else %}
	<form action="/{{username}}/new/" method="post">
	{% endif %}

	{{ form.as_p }}
	
	<input type="submit" value="Submit" />
	<input type="submit" value="Cancel" />
	</form>	

	<p class="post-footer align-right">					

		<a href="index.html" class="comments">Comments (7)</a>
	</p>

</div>

{% endblock %}


