{% extends "base.html" %}

{% block title %}LIST ALL BLOGS for {{username}}{% endblock %}


{% block sidebar_previous_posts %}
	Still hoping to put a index of dates here
{% endblock %}


{% block content %}
<div class="box">

	<h1>All blogs for {{ username }}</h1>							
	
	<table width="100%">
		<tr>
			<th style="width:65%" class="first">Post</th>
			<th>Created</th>
			<th>Modified</th>
			<th>Published</th>
		</tr>
		{% for blog in blogs %}
		<tr class="{% cycle 'row-a' 'row-b' %}">
			<td>
				<a href="/{{username}}/{{ blog.pk }}">
					<div>{{ blog.blog_title }}</div>
				</a>
				{{ blog.blog_text|truncatewords:"25" }}
			</td>
			<td>
				{{ blog.create_date }}
			</td>
			<td>
				{{ blog.modify_date }}
			</td>
			<td>
				{{ blog.published_date}} <!--|stringformat:"%x<br/>%X"-->
			</td>
		</tr>
		{% empty %}
		<p>Sorry, no blogs yet - Get writing!
		</p>
		{% endfor %}		
	</table>

</div>

{% endblock %}
