{% extends "base.html" %}

{% block title %}VIEW BLOG for {{username}}{% endblock %}

{% block sidebar_previous_posts %}
	Still hoping to put a index of dates here
{% endblock %}


{% block content %}
<div class="box">

	<h1><span class="white">{{ blog.blog_title }}</span></h1>

	<p class="post-by">Posted by <a href="/{{username}}/">{{ blog.username }}</a>
	</p>

    <p>{{ blog.blog_text }}
    </p>

	<div style='float:right'>
		<a href="/{{username}}/{{blog.pk}}/edit">
			<img style='background:none;border:none;' src='/static/images/Edit.png'/>
		</a>
		<a href="/{{username}}/{{blog.pk}}/publish">
			<img style='background:none;border:none;' src='/static/images/Publish.png'/>
		</a>
		<a href="/{{username}}/{{blog.pk}}/delete">
			<img style='background:none;border:none;' src='/static/images/Delete.png'/>
		</a>
	</div>
	<br/><br/>

	<p class="post-footer align-right">					

		<a href="" class="comments">Comments (7)</a>
		<span class="date">Published on {{ blog.published_date }}</span>	
	</p>

</div>

{% endblock %}

